<div class="formcontainer center">
  
        <p class="heading">Personal Information</p>
        <hr>
        
        <div>   
        <form [formGroup]="personalData" #form="ngForm">
            <div class="form-group">
                <label for="fname" class="form-label">First Name</label>
                <input type="text" id="fname" name="fname" formControlName="fname"
                 placeholder="First name"
                 required class="form-control">
            </div>
            <div class="form-group">
                <label for="lname" class="form-label">Last Name</label>
                <input type="text" id="lname" name="lname" formControlName="lname" 
                    placeholder="Last Name"
                 required  class="form-control ">
            </div>
            <div class="form-group">
                <label for="telephone" class="form-label">Telephone</label>
                <input type="number" id="telephone" name="telephone" formControlName="telephone" 
                placeholder="Telephone Number"
                 required class="form-control ">
            </div>
        </form>
        <div class="buttonStyle">
        <button type="button" class="btn btn-primary" mdbRipple (click)="next()">Next</button>
        </div>
    </div>
    
</div>