<mat-toolbar color="primary">
    <span class="fill-remaining-space">User Registration Form</span>
</mat-toolbar>
  
<div class="col">
    <mat-card class="center">
    <div class="imgClass">
        <img height="100" width="100" src="/assets/images/success-36.svg">   
    </div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <div class="successPageText">
        <p class="textStyling">Thank You!</p>
        <p class="heading">You have successfully registered on our web application.</p>
    </div>
   
</mat-card>  
</div>
