.imgClass{
display: flex;
justify-content: center;
// width: 30%;
}
.textStyling{
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 3px;
    text-align: center;
    color: #000000;
}
.successPageText{
    text-align: center;
    color: #7d7777;
}